/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap'); */

* {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.header {
    display: flex;
    height: 70px;
    width: 100%;
    text-align: center;

}

nav {

    display: flex;
    padding: 1% 6%;
    width: 100%;
    background-color: #fff;
    position: fixed;


}

nav .chegg {
    width: 90px;
    height: 30px;
}

.mid_link {
    flex: 1;
    text-align: center;
    height: 50px;
}

.end_link {
    flex: 1;
    text-align: right;
    height: 50px;

}

.mid_link ul li,
.end_link ul li {
    display: inline-block;
    padding: 8px 8px;
    position: relative;

}

.mid_link ul li a,
.end_link ul li a {

    color: #222;
    font-size: 16px;
}

.toggle_button {
    position: absolute;
    top: 22px;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle_button .bar {
    height: 3px;
    width: 100%;
    background-color: #EB7100;
    border-radius: 10px;

}

.container {
    width: 100%;
    background: url(bg.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    padding: 4% 6%;
}

.responsive_1 {
    display: none;
}

.container h1 {
    font-size: 48px;
}

.container p {
    font-size: 22px;
    padding-bottom: 1%;

}

form {
    background: #fff;
    width: 600px;
    height: 50px;
    display: flex;
    border: 2px solid rgb(247, 202, 89);
    border-radius: 2px;

}


form input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 25px;
}

form button {
    background: #EB7100;
    padding: 10px 25px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    margin: 2px;
    transform: all 0.3s;
}

form button:hover {
    background: #f49405f0;
    filter: brightness(.98)
}

.container2 {
    height: 180px;
    width: 100%;
    padding: 2% 0 2% 0;
    display: flex;
}

.container2 .content {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 5%;
    font-weight: bold;

}

.form {
    display: flex;
    font-size: 22px;
}

.form .btn {
    width: 130px;
    background: #EB7100;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 28px;
    border: none;
    margin: 1%;
}

.container_3 {
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    text-align: center;
}

.container_3 h1 {
    padding: 3% 0 1% 0;
    font-size: 42px;
}

.container_3 p {
    padding: 1% 0 3% 0;
    font-size: 22px;

}

.card_container {
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.container_3 .card {
    height: 540px;
    width: 29%;
    border: 1px solid black;
    border-radius: 8px;
}

.container_3 .card img {
    height: 280px;
    width: 100%;
    padding: 0 0 4% 0;
}

.container_3 .card h3 {
    font-size: 32px;
    padding: 3% 5%;
}

.container_3 .card p {
    font-size: 16px;
    padding: 10px 5%;
}

.container_3 .card a {
    padding: 0 4%;
    color: #00799E;
    font-size: 16px;
}

.container_3 h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.container_3 svg{
    color:#00799E;
}


.container_4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3%;
}

.container_4 .btn {
    background: #EB7100;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 28px;
    border: none;
    margin: 2%;
    padding: 8px 14px;

}

.container_4 h1 {
    font-size: 40px;
    color: #EB7100;
    padding: 1% 1%;
}

.container_4 h3 {
    font-size: 24px;
}

.container_5 {
    height: 300px;
    width: 96%;
    background: url(bg_2.webp);
    background-size: cover;
    border-radius: 4px;
    margin: 40px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;

}

.responsive_2 {
    display: none;
}

.container_5 h1 {
    padding: 2% 6%;
    color: #fff;
    font-size: 40px;
}

.container_5 p {
    padding: 0 6%;
    color: #fff;
    font-size: 20px;
}

.container_6 {
    display: flex;
    flex-direction: column;
}

.container_6 h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container_6 .card_container {
    display: flex;
    height: 500px;
    text-align: center;
    justify-content: space-around;
    margin: 2%;
}

.container_6 .card_container .png_card {
    height: 480px;
    width: 23%;
    border: 1px solid black;
    border-radius: 8px;

}

.png_card img {
    height: 200px;
    width: 100%;
    padding: 0 0 4% 0;

}

.png_card h1 {
    font-size: 32px;
    padding: 3% 5%;

}

.png_card p {
    font-size: 16px;
    padding: 20px 5%;
}

.png_card a {
    padding: 0 4%;
    color: #00799E;
    font-size: 16px;


}

.container_6 h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container_6 svg {
    color: #00799E;
}

.container_6 h3 {
    font-size: 32px;
}

.container_6 .btn {
    background: #EB7100;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 28px;
    border: none;
    margin: 2%;
    padding: 8px 14px;
    font-size: 40px;

}

.container_8 {
    display: flex;
    flex-direction: column;

}

.container_8 h2 {
    padding: 0 4%;

}

.container_8 .orange_bar {
    height: 10px;
    width: 70px;
    background-color: #EB7100;
    margin: 2% 4%;
}

.more_info {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;

}

.more_info .row {
    display: flex;
}

.more_info a {
    margin: 0 10px;
    color: black;
}


@media(max-width:768px) {
    .toggle_button {
        display: flex;
    }

    nav .chegg {
        width: 60px;
        height: 30px;
        margin-top: 15px;
        margin-left: 20px;

    }

    .mid_link ul li,
    .end_link ul li {
        display: none;

    }



    .container {
        background: url(bg.webp);
        background-size: cover;
    }



    .container h1 {
        font-size: 32px;
    }

    .container p {
        font-size: 16px;
        padding: 3%;

    }

    form {
        width: 240px;
        height: 40px;

    }



    form button {
        padding: 2px 12px;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #FFFFFF;

    }

    .container {
        height: 280px;
        background: url(responsive_1.webp);
        background-size: cover;
        object-fit: cover;
    }

    .responsive_1 {
        height: 210px;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .responsive_1 h1 {
        margin: 0 0 12px 0;
    }

    .responsive_1 form {
        margin: 12px 0 0 0;
        width: 96%;
    }

    .responsive_1 form button {

        width: 90px;
    }


    .container .content {
        display: none;
    }



    .container2 {
        height: 180px;
        width: 100%;
        display: flex;

    }

    .container2 p {
        font-size: 16px;
        font-weight: 500;

    }


    .container2 .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 12px;
        padding: 2%;

    }

    .form {
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }

    .form .btn {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        width: 80px;
        border: none;
        padding: 2%;
    }

    .container_3 h1 {
        padding: 3% 0 1% 0;
        font-size: 32px;
    }

    .container_3 p {
        padding: 1% 0 3% 0;
        font-size: 14px;

    }

    .card_container {
        height: 1770px;
        display: flex;
        flex-direction: column;


    }

    .container_3 .card {
        height: 560px;
        width: 96%;
        border: 1px solid gray;
    }

    .container_3 .card img {
        height: 340px;
        width: 100%;
    }

    .container_3 .card h3 {
        font-size: 26px;
    }

    .container_3 .card p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .container_3 .card a {
        font-size: 14px;
        color: #00799E;
    }

    .container_4 .btn {
        font-size: 12px;

    }

    .container_4 h3 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
    }

    .container_4 h1 {
        font-size: 26px;
    }

    .container_5 {
        height: 240px;
        width: 96%;
        background: url(bg_2.webp);
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: left;

    }


    .content_5 {
        display: none;
    }

    .responsive_2 {
        height: 160px;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .responsive_2 h1 {
        margin: 2%;
    }


    .container_5 h1 {
        font-size: 30px;
    }

    .container_5 p {
        font-size: 16px;
    }



    .container_6 h1 {
        justify-content: center;
        font-size: 30px;
        margin: 2%;
    }

    .container_6 .card_container {
        display: flex;
        height: 2150px;
        text-align: center;
    }

    .container_6 .card_container .png_card {
        height: 540px;
        width: 96%;
        border: 1px solid black;
        border-radius: 8px;
        margin: 2%;
        overflow-y: hidden;

    }

    .png_card img {
        height: 280px;
        width: 100%;

    }

    .png_card h1 {
        font-size: 32px;

    }

    .png_card p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .png_card h4 a {
        font-size: 14px;
        color: #00799E;
    }

    .container_8 {
        display: flex;
        flex-direction: column;

    }

    .container_8 h2 {
        font-size: 18px;

    }

    .container_8 h4 {
        font-size: 14px;
    }

    .container_8 .orange_bar {
        height: 8px;
        width: 50px;
    }

    .more_info {
        height: 200px;

    }

    .more_info .row {
        height: 70px;
    }

    .more_info a {
        font-size: 10px;
        display: flex;
        flex-wrap: nowrap;
    }









}